apiVersion: v1
clusters:
- cluster:
    server: https://napi.arvancloud.ir/caas/v2/regions/ir-central1
  name: ir-central1
contexts:
- context:
    cluster: ir-central1
    namespace: honeysite
    user: dfc7377a-8090-5066-b990-fcce12cfd247
  name: ir-central1
current-context: ir-central1
kind: Config
users:
- name: dfc7377a-8090-5066-b990-fcce12cfd247
  user:
    token: 32949942-2325-52d2-8e7c-c3577b0b8206